# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
the_code/node_modules

# testing
the_code/coverage

# production
the_code/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

the_code/npm-debug.log*
the_code/yarn-debug.log*
the_code/yarn-error.log*
