---
import BaseLayout from '../../layouts/BaseLayout.astro';
import PostCard from '../../components/PostCard.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('posts'))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout title="Posts">
  <div class="posts">
    <h1 class="posts-title">Posts</h1>
    {posts.length === 0 ? (
      <p>No posts yet. Check back soon!</p>
    ) : (
      posts.map((post) => <PostCard post={post} />)
    )}
  </div>
</BaseLayout>

<style>
  .posts-title {
    position: relative;
    color: var(--accent);
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-bottom: 15px;
    border-bottom: 3px dotted var(--accent);
  }
  
  .posts-title::after {
    content: "";
    position: absolute;
    bottom: 2px;
    display: block;
    width: 100%;
    border-bottom: 3px dotted var(--accent);
  }
</style>