body {
  background: rgb(31, 32, 34);
  color: white;
}

h1,h2,h3,h4,h5,h6 {
  color: white !important;
}

ul {
  text-align: center !important;
  list-style: none !important;
}

ul li:not(:last-child) {
  margin-bottom: 15px !important;
}

a {
  color: white;
  font-style: italic;
  text-decoration: none;
}

ul {
   text-align: center !important;
   list-style: none !important;
}

ul li:not(:last-child) {
  margin-bottom: 15px !important;
}

a {
  color: white;
  font-style: italic
}

.prism-code {
  font-size: 2em !important;
  color: #ff5555 !important;
}

.token.punctuation {
  color: #00ff00 !important;
}

.token.comment {
  color: lightgray !important;
}

.course_title {
  position: fixed;
  top: 0;
  left:0;
  z-index: 5000;
  cursor: pointer;
}

.course_menu {
  background-color: dimgrey;
  margin: 0;
  margin-top: 5px;
  text-align: left !important;
  padding: 0;
}

.course_menu > li {
  margin: 0;
  padding: 10px;
  padding-left: 50px;
}

.menu_active_module {
  text-decoration: underline;
}
