---
import ArticleLayout from '../../layouts/ArticleLayout.astro';
import PostCard from '../../components/PostCard.astro';
import { getLessons } from '../../common/lessons.astro';

export async function getStaticPaths() {
  const allLessons = await getLessons();
  const uniqueTags = [...new Set(allLessons.map(post => post.data.tags).flat())];
  
  return uniqueTags.map(tag => {
    const filteredLessons = allLessons
      .filter(post => post.data.tags?.includes(tag) && !post.data.draft)

    return {
      params: { tag },
      props: { lessons: filteredLessons }
    };
  });
}

const { tag } = Astro.params;
const { lessons } = Astro.props;
---

<ArticleLayout title={`Tag: ${tag}`} description={`All posts tagged with "${tag}"`}>
  <div class="posts">
    <h1 class="posts-title">
      <span style="color: var(--foreground)">Lessons tagged <span style="color: var(--accent)">#{tag}</span></span>
    </h1>
    {lessons.length === 0 ? (
      <p>No lessons found with this tag.</p>
    ) : (
      lessons.map((lesson) => <PostCard lesson={lesson} />)
    )}
  </div>
</ArticleLayout>

<style>
  .posts-title {
    font-size: 2rem !important;
    color: var(--foreground);
    margin-top: 0 !important;
    margin-bottom: 30px !important;
    padding-bottom: 0 !important;
    border-bottom: none !important;
  }
  
  .posts-title::after {
    display: none !important;
  }
</style>
