
---
import ArcticleLayout from '../../layouts/ArticleLayout.astro';
import LessonOverview from '../../components/LessonOverview.astro';
import { getHomeworks } from '../../helpers.astro';

const hws = await getHomeworks();
---

<ArcticleLayout title="Course materials & homeworks">
  <div class="page">
    <h1 class="posts-title">Course materials & homeworks</h1>
    {hws.length === 0 ? (
      <p>No homeworks yet. Check back soon!</p>
    ) : (
      hws.map((hw) => <LessonOverview category="homework" lesson={hw} />)
    )}
  </div>
</ArcticleLayout>

