---
import ArcticleLayout from '../layouts/ArticleLayout.astro';
import PostCard from '../components/PostCard.astro';

import { getLessons } from '../common/lessons.astro';

const lessons = await getLessons();
---

<ArcticleLayout title="COS 3100: Intro to Git">
  <div class="index-content framed">
    <h1 id="hello-there">Hello there!</h1>
    <p>Welcome to COS 3100: Intro to Git</p>
    <p>
      This is a short course about bash and git inteded as introduction to the basics for students and anyone who is just getting started.
      The course is taught live at the American University in Bulgaria (AUBG)
    </p>
    
    <p>
      The course covers the basics of bash and git. Then goes into more details about how git works and how it is used in typical day-to-day development scenarios.
    </p>
    
    <p>
      Course author and lecturer Mihail Mikov
    </p>
  </div>
  
  <div class="posts">
    {lessons.filter(l => !l.unlisted).map((lesson) => <PostCard lesson={lesson} />)}
  </div>
</ArcticleLayout>
