---
import type { Lesson } from '../types';

export interface Props {
  lesson: Lesson,
}

const { lesson } = Astro.props;

const linksEntries = Object.entries(lesson.links || {});
---

{
  linksEntries.length > 0
    ? (
      <h2>Useful Resources</h2>
        <ul>
          {linksEntries.map(([text, link]) => (
            <li><a href={link} target="_blank">{text}</a></li>
          ))}
        </ul>
      )
    : <></>
}


