---
export interface Props {
  lesson: {
    slug: string;
    data: {
      title: string;
      description?: string;
      order?: number;
      tags?: string[];
      image?: string;
      externalLink?: string;
      slides?: boolean;
      resources?: Record<string, string>;
    };
  };
}

const { lesson } = Astro.props;
---

<>
  <h2>Useful Resources</h2>
  <ul>
  {Object.entries(lesson.data.resources || {}).map(([text, link]) => (
    <li><a href={link} target="_blank">{text}</a></li>
  ))}
  </ul>
</>

<style>
</style>
