---
import ArticleLayout from '../../layouts/ArticleLayout.astro';

import { getLessons, getBonusMaterials } from '../../helpers.astro';

const lessons = await getLessons();
const bonus = await getBonusMaterials();

const lessonLinks = lessons
  .map(lesson => lesson.data.links)
  .reduce((all: string[][], lessonLinks) => {
  console.log(lessonLinks);
    return [...all, ...Object.entries(lessonLinks || {})];
}, []);

const bonusLinks = bonus
  .map(bonus => bonus.data.links)
  .reduce((all: string[][], lessonLinks) => {
  console.log(lessonLinks);
    return [...all, ...Object.entries(lessonLinks || {})];
}, []);
---

<ArticleLayout title="Resources" description="All resources linked in lessons">
  <div class="page">
    <h1 class="posts-title">All external resources</h1>
    <h2>From main lessons</h2>
    <ul>
      {lessonLinks.map(([text, link]) => (
      <li><a href={link}>{text}</a></li>
      ))}
    </ul>
    <h2>From extras</h2>
    <ul>
      {bonusLinks.map(([text, link]) => (
      <li><a href={link}>{text}</a></li>
      ))}
    </ul>
  </div>
</ArticleLayout>

