---
import ArticleLayout from '../../layouts/ArticleLayout.astro';

import { getLessons } from '../../helpers.astro';

const lessons = await getLessons();

const links = lessons
  .map(lesson => lesson.data.links)
  .reduce((all: string[][], lessonLinks) => {
  console.log(lessonLinks);
    return [...all, ...Object.entries(lessonLinks || {})];
}, []);
---

<ArticleLayout title="Resources" description="All resources linked in lessons">
  <div class="page">
    <h1 class="posts-title">All external resources</h1>
 
    <ul>
      {links.map(([text, link]) => (
      <li><a href={link}>{text}</a></li>
      ))}
    </ul>
  </div>
</ArticleLayout>

