
---
import ArcticleLayout from '../../layouts/ArticleLayout.astro';
import LessonOverview from '../../components/LessonOverview.astro';
import { getBonusMaterials } from '../../helpers.astro';

const bonuses = await getBonusMaterials();
---

<ArcticleLayout title="Bonus lessons">
  <div class="page">
    <h1 class="posts-title">Bonus Lessons</h1>
    {bonuses.length === 0 ? (
      <p>No lessons yet. Check back soon!</p>
    ) : (
      bonuses.map((bonus) => <LessonOverview category="bonus" lesson={bonus} />)
    )}
  </div>
</ArcticleLayout>

